{
    "arrowParens": "always",
    "semi": false,
    "trailingComma": "none",
    "tabWidth": 2,
    "endOfLine": "auto",
    "useTabs": false,
    "singleQuote": true,
    "printWidth": 120,
    "jsxSingleQuote": true,
    "prettier/prettier": [
      "error",
      {},
      {
        "fileInfoOptions": {
          "withNodeModules": true
        }
      }
    ]
  }
  